body{
	background-color : #DDD;
	height : 100%;
	font-family : Georgia;
}

button#zoom_out_button{
	color: black;
	width: 100px;
}

#details_divider{
	width: 100%;
	height: 100%;
	background-color: #BBB;
	overflow-y: scroll;
	height: 500px;
}

.genus{
	font-style: italic;
}

.species{
	font-style: italic;
}

.family{
	font-weight: bold;
}

.subfamily{
	font-weight: bold;
}

.tribe{
	font-weight: bold;
}

.classification_table{

}

.classification_rank{
	font-weight: bold;
}

.name-link{
	cursor: pointer;
}

.name-link:hover{
	color: blue;
}
